@charset "ISO-8859-1";

ul.menu{
     margin-left: 20px;
     list-style-type: none;
    /*margin-top: 100;*/
     padding: 0;
     overflow: hidden;
     background-color: #F94C10 ;
     border-radius: 10px;
     margin-right: 20px; 
}

li.menu{
	 float: left;
}

.menu a:hover {
     background-color: #7D7C7C;
	 transition: background-color 0.9s ease;
}

/*create menu bar and align right*/
.licl{
	text-align:right;
}
li.licl{
	float: right;
}

a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.ai{
	display: block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
}
/*Create search bar*/

.searchbox {
    float: left;
}
input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
.searchbox button {

    padding: 8px;
    margin-top: 5px;
    margin-left: 10px;
    background: #0c242f;
    font-size: 20px;
    border: none;
    cursor: pointer;
	background-color: #F94C10;
	transition: background-color 1.9s;
}
.searchbox button:hover {
background: black;
}